<div>
    <h2><%= characters.name %></h3>
        
    <h2>Class: <%= characters.job %></h2>
    <p>Health: <%= characters.health %></p>
    <p>Armor Class: <%= characters.acStack %></p>
    <p>Strength: <%= attributes.str %></p>
    <p>Dexterity: <%= attributes.dex %></p>
    <p>Constitution: <%= attributes.con %></p>
    <p>Intelligence: <%= attributes.int %></p>
    
    <p>Wisdom: <%= attributes.wis %></p>
    <p>Charisma: <%= attributes.cha %></p>


    
    <h3>Attacks</h3>
    
    <% attacks.forEach(attack=>{ %>
        <div id="attacks">
        Name: <p id="attackname"><%= attack.name %></p>
        Damage:<p id="attackdamage"> <%= attack.damage %></p>
        <button onclick="testAttack()">Test Attack</button>
        </div>
    <% }) %>

    <p id="name"></p>
    <p id="damage"></p>
    <a href="../character/<%= characters.id %>/attack">Create an attack</a>
    
    
</div>
